*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-base);

  /* Scrollbar */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    margin-right: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.4);
    box-shadow: 0 0 1px rgb(0 0 0 / 40%);
  }
}

li {
  list-style-type: none;
}

:root {
  /* Colors */
  --text-primary: #1e6b4e;
  --text-primary-dark: #0c261c;
  --text-secondary: #848484;
  --text-disabled: #a8a8a8;
  --text-light: #ffffff;

  --primary: #15573f;
  --secondary: #fd9872;
  --tertiary: #75bc97;

  --background-base: #f6f6f6;
  --background: #ffffff;

  --border: #a8a8a8;
}
