*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-base);
  color: var(--text-primary);

  /* Scrollbar */
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #dee2e5;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.4;
    transition: 0.2s;

    box-shadow: 0 0 1px rgb(0 0 0 / 40%);
  }

  &:hover::-webkit-scrollbar-thumb {
    background: var(--border);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

input,
select,
textarea {
  color: var(--text-primary);
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

*[role='button'] {
  cursor: pointer;
}

#root {
  height: 100%;
}

.fragment {
  height: 100%;
}

.hidden {
  display: none;
}

.rotate-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.rotate-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rotate-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.rotate-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

:root {
  /* Colors */
  --text-primary: #848484;
  --text-secondary: #1e6b4e;
  --text-secondary-dark: #0c261c;
  --text-disabled: #a8a8a8;
  --text-light: #ffffff;

  --primary: #15573f;
  --secondary: #fd9872;
  
  --bg-base: #f2f2f2;
  --bg-normal: #ffffff;
  --bg-highlighted: #75bc97;

  --border: #a8a8a8;

  /* Other config */
  --screen-max-width: 1632px;
}
