.main-header {
  padding: 2rem;
  background-color: var(--highlight);
}

.container {
  max-width: 869px;
  height: 100%;
  margin: auto;

  @media (max-width: 575px) {
  }
}

.nav-wrapper {
  width: 100%;

  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

  display: flex;
  justify-content: space-between;

  @media (max-width: 899px) {
    flex-direction: column;
  }
}

.nav-left {
  z-index: 2;
  padding: 3rem 0;

  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * + * {
    margin-top: 2rem;
  }
}

.nav-right {
  z-index: 1;
  position: relative;

  display: grid;
  place-self: center;

  @media (min-width: 900px) {
    &::before {
      content: '';

      z-index: -1;
      position: absolute;
      top: -2rem;

      top: -2rem;
      left: -230%;
      height: calc(100% + 4rem);
      padding-left: calc(230% + 4rem);

      background-image: url('../assets/images/hero/desktop/left-leaves.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.text {
  font-size: 4.375rem;
  font-weight: 700;
  color: var(--text-light);
}

.nav-right-image {
  width: 26rem;
  object-fit: cover;
}
