.main-header {
  position: relative;

  padding: 2rem;
  background-color: var(--highlight);

  overflow: hidden;

  @media (min-width: 900px) {
    &::before {
      content: '';

      position: absolute;
      z-index: 2;
      top: -2rem;
      left: calc(40% - 29rem * 2);
      height: calc(100% + 2rem);
      width: calc(100% + 12rem);

      background-image: url('../assets/images/hero/desktop/left-leaves.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      content: '';

      position: absolute;
      z-index: 2;
      top: -2rem;
      right: calc(-60% - 8rem * 2);
      height: calc(100% + 2rem);
      padding-right: 100%;

      background-image: url('../assets/images/hero/desktop/right-leaves.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.container {
  max-width: 869px;
  height: 100%;
  margin: auto;

  @media (max-width: 575px) {
  }
}

.nav-wrapper {
  width: 100%;

  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

  display: flex;
  justify-content: space-between;

  @media (max-width: 899px) {
    flex-direction: column;
  }
}

.nav-left {
  z-index: 2;
  padding: 3rem 0;

  width: 25rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * + * {
    margin-top: 2rem;
  }
}

.nav-right {
  z-index: 1;
  position: relative;

  display: grid;
  place-self: center;

  // @media (min-width: 900px) {
  //   &::before {
  //     content: '';

  //     position: absolute;
  //     top: -2rem;
  //     left: calc(-200% - 10vw);
  //     height: calc(100% + 4rem);
  //     padding-left: calc(200% + 10vw + 4rem * 2);

  //     background-image: url('../assets/images/hero/desktop/left-leaves.png');
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //   }
  // }
}

.text {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-light);

  @media (max-width: 899px) {
    font-size: clamp(2rem, 13.5vw, 4rem);
  }
}

.nav-right-image {
  width: 26rem;
  object-fit: cover;
}
