.grid-item {
  padding: 1.1rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  background-color: var(--background);
  border-radius: 0.3rem;

  > picture {
    margin: auto;

    > img {
      // height: 12rem;
      max-width: 100%;
      object-fit: scale-down;
    }
  }

  &.staff-favorite {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    
    padding: 1.6rem;

    .grid-item-footer {
      grid-template-areas:
        'title price'
        'title tags';

      .title {
        font-size: 2.2rem;

        white-space: initial;
        text-overflow: initial;
        overflow: initial;
      }

      .price {
        font-size: 1.5rem;

        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }

      .tag {
        > img {
          height: 1.55rem;
          max-width: 1.9rem;
        }
      }
    }
  }
}

.grid-item-footer {
  width: 100%;

  display: grid;
  grid-template-areas:
    'title title'
    'price tags';
  gap: 0.4rem;

  .title {
    grid-area: title;

    // min-width: 12rem;
    max-width: 100%;

    color: var(--text-secondary);
    font-weight: 700;
    font-size: 0.9rem;
    // line-height: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .price {
    grid-area: price;

    color: var(--text-secondary);
    font-weight: 700;
    font-size: 1rem;
  }

  .tags {
    grid-area: tags;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.4rem;
  }
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    height: 1.12rem;
    max-width: 1.5rem;
  }
}
